@use 'mixins' as *;

:host {
  @include button;
}

:host(.icon-only) {
  --button-padding: 10px;
}

:host(.image) {
  --button-padding: var(--theme--spacing-2xs);
}

:host-context(.modal) {
  --button-text-color: var(--theme--color-text-primary);
  --button-background-hover-color: var(--theme--button-background-hover-dark);
  --button-justify: start;
}
