 @use 'variables' as *;
 @use 'mixins' as *;

 :host {
   @include button;

 }

 :host(.button--icon-only) {
   --button-padding-vertical: 10px;
   --button-padding-horizontal: 10px;
   @include button;
 }

 :host(.button--source-type-file) {
   padding: 4px
 }

 :host-context(.mobile-modal-layout) {
   --button-text-color: var(--color-text-primary);

   --button-background-hover-color: var(--button-background-color-hover-dark);
   justify-content: start;
 }

