<label class="checkbox__label">
  <input
    type="checkbox"
    [checked]="checked()"
    (change)="onChange($any($event.target)?.checked ?? false)"
  />
  <span class="checkbox__icon">
    @switch (inputStyle()) {
      @case ('default') {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <!-- <path d="M5 13l4 4L19 7" fill="none" stroke="currentColor" stroke-width="2.2" /> -->
          <path d="M5 13l4 4L19 7" />
        </svg>
      }
      @case ('round') {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <!-- <path d="M5 13l4 4L19 7" fill="none" stroke="currentColor" stroke-width="2.2" /> -->
          <path d="M5 13l4 4L19 7" />
        </svg>
      }
    }
  </span>
  @if (label()) {
    <span class="checkbox__title">{{ label() }}</span>
  }
</label>
