@use 'mixins' as *;

@property --input-checkbox-size {
  syntax: '*';
  inherits: false;
}

@property --input-radio-size {
  syntax: '*';
  inherits: false;
}

:host {
  --local--input-checkbox-size: var(--input-checkbox-size, var(--theme--input-checkbox-size));
  --local--input-radio-size: var(--input-radio-size, var(--theme--input-radio-size));

  label {
    cursor: pointer;
    --flex-gap: var(--theme--spacing-md);
    @include flex;
  }

  input[type='checkbox']:checked ~ .icon svg {
    display: block;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
  }

  .label {
    white-space: nowrap;
  }

  .icon {
    --flex-justify: center;
    @include flex;
    border: 2px solid var(--theme--color-border-checkbox);

    height: var(--local--input-checkbox-size);
    width: var(--local--input-checkbox-size);
    flex-shrink: 0;

    svg {
      display: none;
      fill: none;
      stroke-width: 4;
      stroke: var(--theme--checkbox-color);
    }
  }
}

:host(.round) {
  &:hover .icon {
    background-color: var(--theme--color-gray-dark);
  }
  .icon {
    border: none;
    border-radius: 50%;
    background-color: var(--theme--color-gray-light);
    height: var(--local--input-radio-size);
    width: var(--local--input-radio-size);

    svg {
      stroke-width: 2;
      stroke: var(--theme--color-gray);
    }
  }
}
