<header class="header">
  <div class="header__panel header__left">
    @if (viewportObserver.isMobile()) {
      <button #menuTrigger class="icon-btn" (click)="openMobileMenu()" aria-label="Меню">
        <app-icon name="menu" />
      </button>
    }
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <img src="assets/logo.png" alt="Logo" class="header__logo-img" />
      </a>
    </div>
  </div>

  <nav class="header__panel header__center">
    <app-menu class="app-menu" __loc="appMenu" [items]="pagesMenu"></app-menu>
    <button
      __loc="buttonSearch"
      class="button-search icon-btn"
      (click)="onSearchToggle()"
      aria-label="Поиск"
    >
      <app-icon name="search" />
    </button>
    <button class="button-add icon-btn" aria-label="Добавить">
      <app-icon name="add-circle" />
    </button>
  </nav>

  <div class="header__panel header__right">
    <app-user-panel />
  </div>
</header>
