<div class="header-panel left">
  @if (viewportObserver.viewport() === 'mobile') {
    <button [app-button]="buttons['menu']" (click)="openMobileMenu()"></button>
  }
  <div class="logo">
    <a href="/" class="link">
      <img src="assets/logo.png" alt="Logo" />
    </a>
  </div>
</div>

<nav class="header-panel center">
  <app-menu class="menu menu--pages" [items]="pagesMenu"></app-menu>
  <app-overlay-outlet
    outletId="search-form--desktop"
    viewport="desktop"
    class="search-form-container"
  >
  </app-overlay-outlet>
  <button [app-button]="buttons['search']" (click)="onSearchOpen()"></button>
  <button [app-button]="buttons['add']"></button>
</nav>
<div class="header-panel right">
  <app-user-panel />
</div>
