@use 'mixins' as *;

:host {
  @include flex;
  min-width: max-content;
  height: var(--theme--header-height);
  background: var(--theme--header-background-color);
  padding: 0 12px;

  .left {
    @include flex;
    flex-shrink: 0;
    margin-right: auto;
  }

  .right {
    margin-left: auto;
    padding-left: 16px;
  }

  .logo {
    flex-shrink: 0;
    padding: 0 4px;

    .link {
      @include flex;
      height: 100%;
      text-decoration: none;
    }

    img {
      display: block;
    }
  }

  .header-panel {
    position: relative;
    --flex-gap: 16px;
    @include flex;
  }

  .menu--pages {
    padding: 0 16px;
  }

  .center {
    width: max-content;
    height: 100%;

    .search-form-container {
      top: 0;
      bottom: 0;
      width: calc(100% - (var(--theme--size-btn) + var(--theme--spacing-lg) / 2));
      pointer-events: none;
    }
  }
}

@media (max-width: $viewport-width-mobile) {
  :host {

    .menu--pages {
      padding: 0;
    }

    .header-panel {
      --flex-gap: 0;
    }

    .right {
      padding: 0;
    }
  }
}