@use 'mixins' as *;

:host {
  @include flex;
  min-width: max-content;
  height: var(--theme--header-height);
  background: var(--theme--header-background-color);
  padding: 0 var(--theme--spacing-md);

  .left {
    @include flex;
    flex-shrink: 0;
    margin-right: auto;
  }

  .right {
    margin-left: auto;
    padding-left: var(--theme--spacing-lg);
  }

  .logo {
    flex-shrink: 0;
    padding: 0 var(--theme--spacing-2xs);

    .link {
      @include flex;
      height: 100%;
      text-decoration: none;
    }

    img {
      display: block;
    }
  }

  .panel {
    position: relative;
    --flex-gap: var(--theme--spacing-lg);
    @include flex;
  }

  .pages {
    padding: 0 var(--theme--spacing-lg);
  }

  .center {
    width: 100%;
    height: 100%;

    .container {
      top: 0;
      bottom: 0;
      width: calc(100% - (var(--theme--button-size) + var(--theme--spacing-lg) / 2));
      pointer-events: none;
    }
  }
}

@media (max-width: $viewport-width-mobile) {
  :host {
    .pages {
      padding: 0;
    }

    .panel {
      --flex-gap: 0;
    }

    .right {
      padding: 0;
    }
  }
}

@media (min-width: $viewport-width-desktop) {
  :host {
    .pages {
      flex-grow: 1;
      --flex-gap: 2rem;
      --flex-justify: center;
    }
  }
}
