<div class="panel left">
  @if (viewportObserver.viewport() === 'mobile') {
    <button [app-button]="buttons['menu']" (click)="openMobileMenu()"></button>
  }
  <div class="logo">
    <a href="/" class="link">
      <img src="assets/logo.png" alt="Logo" />
    </a>
  </div>
</div>

<nav class="panel center">
  <div class="search-zone">
    <app-menu class="pages" [items]="pagesMenu"></app-menu>
    <app-overlay-outlet outletId="search-form-desktop" viewport="desktop" class="container">
    </app-overlay-outlet>
    <button [app-button]="buttons['search']" (click)="onSearchOpen()"></button>
  </div>
  <button [app-button]="buttons['add']"></button>
</nav>
<div class="panel right">
  <app-user-panel />
</div>
