@use 'mixins' as *;

.form-field {
  // margin-top: var(--spacing-md);
  // max-width: 439px;
  position: relative;

  &__label {
    display: block;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--spacing-lg);
    color: var(--color-text-light);
    margin-bottom: var(--spacing-3xs);
    background: var(--color-white);
    z-index: 1;
  }

  &__title {
    position: absolute;
    z-index: 1;
    padding: 0 .5em;
    left: 1em;
    margin-top: -.5em;
    background-color: white;
  }

  &__input {
    @include input($padding: var(--spacing-lg));
    flex: 1;
    border-radius: var(--radius-xs);
    background: transparent;
  }
}