@use 'mixins' as *;

.header {
  @include flex-center;
  background: var(--color-primary);


  &__left {
    @include flex-center;
    flex-shrink: 0;
  }

  &__right {
    margin-left: auto;
  }

  &__logo {
    flex-shrink: 0;
    height: var(--header-height);
    padding: 0 1em;

    &-link {
      @include flex-center;
      height: 100%;
      text-decoration: none;
    }

    &-img {
      display: block;
      height: 36px;
      width: auto;
    }
  }

  &__panel {
    position: relative; // 1. Это самый главный анкер!
    @include flex-center;
    box-sizing: border-box;
  }

  &__center {
    width: max-content;
  }

}

.user-panel {
  display: flex;
}

.icon-btn {
  @include icon-btn($color: var(--color-white), $hover-bg: var(--color-white-transparent-15));
}

.avatar-btn {
  width: var(--size-btn);
  height: var(--size-btn);
  padding: var(--spacing-2xs);
}

.badge {
  @include flex-center($justify: center);
  position: absolute;
  top: var(--spacing-2xs);
  right: var(--spacing-2xs);
  min-width: var(--spacing-xl);
  height: var(--spacing-lg);
  padding: 0 var(--spacing-2xs);
  background: var(--color-danger);
  color: var(--color-white);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 14px;
  border-radius: var(--radius-full);
  white-space: nowrap;
}

@media (max-width: 414px) {
  .header {
    &__left {
      gap: 0;
    }

    &__logo {
      width: auto;
      height: var(--header-height);
    }

    &__center {
      .button-add {
        order: 0;
      }

      .app-menu {
        order: 1;
      }

      .button-search {
        order: 2;
      }
    }
  }
}

// app-overlay-outlet {
//   display: contents;
// }

// .app-overlay-outlet {
//   display: contents;
// }