@use 'variables' as *;
@use 'mixins' as *;

.menu {
  @include flex;
  gap: 0;
  padding: 0 var(--spacing-xxl);
  margin-right: 1em;

  &--vertical {
    @include flex($direction: column, $align: stretch);
    padding: 1em;

    .menu-item {
      padding: .5rem 1rem;
    }
  }
}

.menu-item {


  &:hover {
    background: var(--color-black-transparent-5);
  }

  &__button {
    @include icon-btn($color: var(--color-white), $hover-bg: var(--color-white-transparent-15));
    width: auto;
    gap: var(--spacing-sm);
    padding: 0 var(--menu-item--padding);
    white-space: nowrap;
    text-decoration: none;
  }

  &__icon {
    @include icon;
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.mobile-modal-layout {
  .menu--vertical {
    grid-area: content;
  }

  .menu-item {
    &__button {
      color: var(--color-text-primary);
      width: 100%;
      padding: 0;
      justify-content: flex-start;
    }

  }
}

@media (max-width: $viewport-width-mobile) {
  .header {
    .menu-item {
      display: none;

      &__label {
        display: none;
      }
    }

    .menu-item.menu-item--history {
      display: block;
    }


    .menu-item__button {
      width: var(--size-btn);
      height: var(--size-btn);
      padding: 0;
      gap: 0;
    }
  }

}