@use 'mixins' as *;

.menu {
  @include flex-center;
  gap: 0;

  &--vertical {
    flex-direction: column;
    align-items: stretch;
  }
}

.menu-item__button {
  @include flex-center($gap: var(--spacing-sm));
  font: inherit;
  padding: 0 var(--menu-item--padding);
  height: var(--header-height);
  border: none;
  background: transparent;
  color: var(--menu-item--color);
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s ease;
  text-decoration: none;

  &:hover {
    background: var(--color-black-transparent-5);
  }
}

.menu-item__icon {
  @include icon;
}

.menu-item__label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu--vertical .menu-item {
  height: 32px;
  padding: 0 var(--spacing-lg);
}


@media (max-width: 414px) {
  .menu-item.menu-item--history{
    display: block;
  }
  .menu-item {
    display: none;

    &__label {
      display: none;
    }
  }
}