@use 'mixins' as *;


:host {
  --flex-align: stretch;
  @include flex;
  // background-color: rgb(132, 255, 0);
  // background: var(--theme--app-background-color);
  border: 1px solid var(--theme--color-border);
  border-radius: var(--theme--form-section-radius);
  box-shadow: 0px 8px 16px 0px rgba(93, 95, 97, 0.14);

  .column {
    --flex-direction: column;
    --flex-align: stretch;
    @include flex;
    gap: 22.4px;

    &.history {
      position: relative;
      overflow: hidden;
      width: var(--theme--filter-panel-history-width);

      .section {
        padding-top: var(--spacing-xl);
        display: flex;
        flex-direction: column;
      }
    }

    &.filters {
      flex: 1;
      padding: var(--theme--spacing-lg);
      padding-top: var(--spacing-xxl);
    }
  }

  .divider {
    width: 1px;
    background: var(--theme--color-border-light);
  }

  .field:has(input[name="author"]) {
    @include form-field;
    @include fieldset;

    .container {
      --align-items: center;
      @include flex;
      width: 100%;
    }
  }

  .history {
    .section>.checkboxes {
      --flex-direction: column;
      --flex-align: start;
    }
  }

  .section>.content {
    @include flex;

    app-checkbox,
    .value {
      --list-item-padding: 6px 0 6px 1rem;
      width: 100%;
      cursor: pointer;
      @include list-item;
      line-height: var(--theme--line-height-base);

      &:hover {
        background-color: var(--theme--color-bg-hover);
      }
    }

  }
}


@media (max-width: $viewport-width-mobile) {
  :host {
    margin-top: 14px;
    box-shadow: none;
    border: none;

    .section>.checkboxes {
      --flex-direction: column;
      --flex-align: start;
    }

    .column.filters {
      padding: 0;
    }
  }
}