@let _checkboxStyle = checkboxStyle();
@if (viewportObserver.viewport() === 'desktop') {
  <div class="column history">
    <div class="section">
      <div class="title">История</div>
      <div class="content">
        @for (item of historyItems; track item) {
          <div class="value" (click)="history.set(item)">{{ item }}</div>
        }
      </div>
      <div class="gradient"></div>
    </div>
  </div>
  <div class="divider"></div>
}
<div class="column filters">
  <div class="section">
    <label class="content field">
      <span class="title">Автор</span>
      <div class="container">
        <input type="text" name="author" placeholder="Имя или должность" autocomplete="off"/>
        <button class="action">
          <span class="text">Я</span>
        </button>
      </div>
    </label>
  </div>

  <div class="section">
    <div class="content">
      @for (item of ['Я участник', 'Строгий поиск', 'В заголовках']; track item) {
        <app-checkbox [label]="item" [inputStyle]="_checkboxStyle" />
      }
    </div>
  </div>
  <div class="section">
    <div class="title">Только</div>
    <div class="content">
      @for (item of ['Теги', 'Просьбы', 'Контакты']; track item) {
        <app-checkbox [label]="item" [inputStyle]="_checkboxStyle" />
      }
    </div>
  </div>
</div>
