@use 'mixins' as *;
@use 'variables' as *;


:host {

  .filter-chips {
    @include list-items;
  }


  .filter-list-item {
    padding: var(--spacing-xs) var(--spacing-lg);
    cursor: pointer;
    transition: background 0.15s ease;

    &:hover {
      background: var(--color-bg-hover);
    }
  }

  .filter-chip {
    @include list-item;
  }


  .form-field--author {
    .form-field__label {
      border: 1px solid var(--color-border-light);
    }

    .form-field__input-wrapper {
      display: flex;
      align-items: center;
      height: 4em;
    }
  }
}

.filter-panel {


  &__layout {
    @include flex($align: stretch);
    margin-top: var(--spacing-3xs);
    background: var(--app-background-color);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-xs);
    box-shadow: 0px 8px 16px 0px rgba(93, 95, 97, 0.14);
  }

  &__column {
    @include flex($direction: column, $align: stretch);
    gap: 1.6em;


  }

  &__column--history {
    position: relative;
    overflow: hidden;
    width: var(--filter-panel-history-width);

    height: 16em;

    .form-section {
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
  }

  &__column--filters {
    flex: 1;
    padding: var(--spacing-lg);
  }

  &__divider {
    width: 1px;
    background: var(--color-border-light);
  }
}

@media (max-width: $viewport-width-mobile) {
  .filter-chips {
    flex-direction: column;
  }

  .filter-panel {
    margin-top: 1rem;

    &__layout {
      box-shadow: none;
      border: none;
    }

    &__column--filters {
      padding: 0;
    }
  }
}