<div class="search-form__header">
  <div class="form-field form-field--search">
    <input
      type="text"
      class="form-field__input"
      placeholder="Поиск"
      (focus)="onSearchFieldFocus()"
      [value]="query()"
      (input)="query.set($any($event.target).value)"
    />
    @if (query()) {
      <button [app-button]="buttonClear" class="form-field__clear" (click)="query.set('')"></button>
    }
  </div>
</div>
@if (isShowForm()) {
  <app-filter-panel
    class="search-form__filters"
    [(history)]="history"
    [checkboxStyle]="checkboxStyle()"
  />
}
