@use 'mixins' as *;


:host {
  --flex-direction: column;
  --flex-align: stretch;
  --flex-justify: center;
  --flex-gap: 0;
  @include flex;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;


  right: 0;
  z-index: 2;
  pointer-events: auto;

  .search-form__header {
    --flex-gap: var(--theme--spacing-2xs);
    @include flex;
  }

  .search-form__filters {
    position: absolute;
    top: calc(100% - 2px);
    width: 100%;
    background-color: var(--theme--app-background-color);
  }

  .form-field:has(input[name="search"]) {
    @include flex;
    position: relative;
    background-color: var(--theme--app-background-color);
    border-radius: 4px;

    input {
      --input-height: 48px;
    }

    button.clear {
      --button-radius: 50%;
      --button-background-hover-color: var(--theme--color-black-transparent-5);
      @include button;
      right: var(--theme--spacing-2xs);
      position: absolute
    }
  }


}

:host(.slide-in) {
  animation: slideInForward 0.3s ease-in forwards;
}

:host(.slide-out) {
  animation: slideOutBackward 0.3s ease-in forwards;
}


:host-context(.mobile-modal-layout) {
  display: contents;

  .search-form__header {
    grid-area: header-center;
  }

  .search-form__filters {
    grid-area: content;
  }
}


@keyframes slideInForward {
  from {
    left: 100%;
    width: 0%;
  }

  to {
    left: 0%;
    width: 100%;
  }
}

@keyframes slideOutBackward {
  from {
    width: 100%
  }

  to {
    width: 0%
  }
}

@media (max-width: $viewport-width-mobile) {
  :host {
    .filter-panel {
      padding-top: 12px;
    }

    .form-field:has(input[name="search"]) {
      background-color: var(--theme--color-gray-light);
      border-radius: 28px;
    }
  }
}