@use 'variables' as *;
@use 'mixins' as *;


:host {
  @include flex($direction: column, $align: stretch);
  padding: 4px 0;

  position: absolute;
  width: 100%;

  right: 0;
  z-index: 2;
  pointer-events: auto;



  .filter-panel {
    padding-top: 2px;
  }

  .search-form__header {
    @include flex($gap: var(--spacing-2xs));
  }

  .form-field--search {
    @include flex;
    position: relative;
    width: 100%;
    background-color: var(--app-background-color);
    border-radius: 4px;

    .form-field__input {
      height: 3.5em;
    }

    .form-field__clear {
      --button-size: 36px;
      --button-radius: var(--radius-full);
      --button-background-hover-color: var(--color-black-transparent-5);
      @include button;
      right: var(--spacing-2xs);
      position: absolute
    }
  }


}

:host(.slide-in) {
  animation: slideInForward 0.3s ease-in forwards;
}

:host(.slide-out) {
  animation: slideOutBackward 0.3s ease-in forwards;
}


:host-context(.mobile-modal-layout) {
  display: contents;

  .search-form__header {
    grid-area: header-center;
  }

  .search-form__filters {
    grid-area: content;
  }
}


@keyframes slideInForward {
  from {
    left: 100%;
    width: 0%;
  }

  to {
    left: 0%;
    width: 100%;
  }
}

@keyframes slideOutBackward {
  from {
    width: 100%
  }

  to {
    width: 0%
  }
}

@media (max-width: $viewport-width-mobile) {
  :host {
    .filter-panel {
      padding-top: 12px;
    }

    .form-field--search {
      background-color: var(--color-gray-light);
      border-radius: 2em;
    }
  }
}