<div class="header">
  <div class="field">
    <input
      type="text"
      name="search"
      autocomplete="off"
      placeholder="Поиск"
      (focus)="onSearchFieldFocus()"
      [value]="query()"
      (input)="query.set($any($event.target).value)"
    />
    @if (query()) {
      <button [app-button]="buttonClear" class="clear" (click)="query.set('')"></button>
    }
  </div>
</div>
@if (isShowForm()) {
  <app-filter-panel class="filters" [(history)]="history" [checkboxStyle]="checkboxStyle()" />
}
