@use 'mixins' as *;

:host {
  display: grid;
  background-color: var(--theme--app-background-color);
  grid-template-columns: var(--theme--button-size) 1fr auto;
  grid-template-areas:
    'header-start header-center header-end'
    'content content content';
  padding: 0 14px;

  .header {
    grid-area: header-start;
    display: flex;
    align-items: center;
    height: var(--theme--header-height);
  }

  .title {
    grid-area: header-center;
    font-weight: var(--theme--title-font-weight);
    padding: 14px;

    align-content: center;
  }

  .content {
    display: contents;
  }
}

:host(.fade-in) {
  animation: fadeIn 0.3s ease-out forwards;
}

:host(.fade-out) {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
