@use 'mixins' as *;

:host {
  @include flex;
}

:host(.vertical) {
  --flex-direction: column;
  --flex-align: start;
  @include flex;
  padding: 14px;

  .item {
    width: 100%;
  }
}

:host-context(.modal).vertical {
  grid-area: content;
}
