@use 'styles/variables' as *;
@use 'styles/theme';
@use 'styles/form';
@use 'styles/elements/button';
@use 'styles/elements/badge';



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--spacing-xl);
  color: var(--color-text-primary);
  background: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay-outlet--mobile {
  top: 0;
  width: 100%;
}

@media (max-width: $viewport-width-mobile) {
  .menu--pages {
    .button {
      display: none;

      &__label {
        display: none;
        ;
      }

      &--history {
        display: inherit;
      }
    }
  }

  .badge {
    display: none;
    ;
  }
}

.mobile-modal-layout {
  .menu--vertical {

    grid-area: content;
  }
}